@font-face {
  font-family: 'Regular Regular Italic';
  src: url('/regular_font/Regular-RegularItalic.eot');
  src: url('/regular_font/Regular-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('/regular_font/Regular-RegularItalic.woff') format('woff'),
      url('/regular_font/Regular-RegularItalic.svg#Regular-RegularItalic') format('svg'),
      url('/regular_font/Regular-RegularItalic.woff2') format('woff2'),
      url('/regular_font/Regular-RegularItalic.ttf') format('ttf');
      font-weight:540;
      font-style:"italic";
}

@font-face {
  font-family: 'Regular Extrabold';
  src: url('/regular_font/Regular-Extrabold.eot');
  src: url('/regular_font/Regular-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('/regular_font/Regular-Extrabold.woff') format('woff'),
      url('/regular_font/Regular-Extrabold.svg#Regular-Extrabold') format('svg'),
      url('/regular_font/Regular-Extrabold.woff2') format('woff2'),
      url('/regular_font/Regular-Extrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Regular Regular';
  src: url('/regular_font/Regular-Regular.eot');
  src: url('/regular_font/Regular-Regular.eot?#iefix') format('embedded-opentype'),
      url('/regular_font/Regular-Regular.svg#Regular-Regular') format('svg'),
      url('/regular_font/Regular-Regular.woff2') format('woff2'),
      url('/regular_font/Regular-Regular.ttf') format('ttf');
  font-weight: 530;
  font-style: normal;
}

@font-face {
  font-family: 'Regular Bold';
  src: url('/regular_font/Regular-Bold.eot');
  src: url('/regular_font/Regular-Bold.eot?#iefix') format('embedded-opentype'),
      url('/regular_font/Regular-Bold.svg#Regular-Bold') format('svg'),
      url('/regular_font/Regular-Bold.woff2') format('woff2'),
      url('/regular_font/Regular-Bold.ttf') format('ttf');
  font-weight: 590;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url('/regular_font/Regular-Medium.eot');
  src: url('/regular_font/Regular-Medium.eot?#iefix') format('embedded-opentype'),
      url('/regular_font/Regular-Medium.woff') format('woff'),
      url('/regular_font/Regular-Medium.svg#Regular-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Regular Medium';
  src: url('/regular_font/Regular-MediumItalic.eot');
  src: url('/regular_font/Regular-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/regular_font/Regular-MediumItalic.woff') format('woff'),
      url('/regular_font/Regular-MediumItalic.svg#Regular-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Regular Bold';
  src: url('/regular_font/Regular-BoldItalic.eot');
  src: url('/regular_font/Regular-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/regular_font/Regular-BoldItalic.woff') format('woff'),
      url('/regular_font/Regular-BoldItalic.svg#Regular-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}



html{
    color: $black;
    font-weight: 400;
    line-height: 1.618;
    font-size: 14px;
    @media(min-width: $desktop){
      font-size: 16px;
    }
}

