.container-footer{   
    background-color: #10324D;
    color:white;
    padding-top:60px;
    .container-footer-class{
        display:flex;
        @media(max-width: $mobile){
            display:flex;
            flex-direction: column;
        }
        .show-mobile{
            display:none;
            @media(max-width: $mobile){
                display:block;
            }
        }
        .show-desktop{
            display: block;
            @media(max-width: $mobile){
                display:none;
            }
        }
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
        }
        ul{
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            padding: 0px;
        }
        .logo-footer-social-media{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 40px;
            padding: 0px;
            margin-left: 0!important;
            .social-media-footer{
                display:flex;
                justify-content: space-between;
                @media(max-width: $mobile){
                    display:flex;
                    align-items: center;
                    width: 100%;
                    margin-top: 20px;
                    justify-content: space-around;
                }
            }
            .logo-footer{
                /* @media(max-width: $mobile){
                    display:none; 
                }*/
            }
        }
    .shop-in-porto-footer{
        @media(max-width: $mobile){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 20px;
            font-family: 'Regular Bold';
            line-height: 24px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }
    }
    .perfil-footer{
        @media(max-width: $mobile){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 20px;
            font-family: 'Regular Bold';
            line-height: 24px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }
    }
    .informacao-legal-footer{
        @media(max-width: $mobile){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 20px;
            font-family: 'Regular Bold';
            line-height: 24px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }
    }
    }   
}


.camara-logo-porto-footer{
    display:flex;
    color:white;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: #10324D;
    min-height: 106px; 
    padding-top: 40px;
    .pad-footer{
        justify-content: space-between;
        @media(max-width: $mobile){
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 26px;
        }
    }
}

ul{
    padding:0px;
    list-style-type: none;
    @media(max-width: $mobile){
        display:none;
    }
}

