.glide {
    &__slide {
        color: black;
    }
}
.content{
	background: url("~images/pattern.svg");
	background-size: cover;
  }
  
.content p {
	margin: 0;
	color: #fff;
  }
  
  .glide__slide {
	color: black;
  }
  
  * {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
  }